.addblog_section {
    &_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: var(--space-l);
        gap: var(--space-l);

        &_title {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            &_btn {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                top: 0;
                left: 0;
            }

            h1 {
                font-weight: 700;
                line-height: 40px;
                font-style: normal;
                font-size: var(--font-size-xl);
            }

            @media screen and (max-width: 575px) {
                h1 {
                    font-size: var(--font-size-l);
                }
            }
        }

        &_formWrapper {
            width: 100%;
            display: flex;
            justify-content: center;

            &_form {
                width: 600px;
                display: flex;
                gap: var(--space-l);
                flex-direction: column;

                label {
                    font-weight: bold;

                    &::before {
                        top: 0;
                        right: 0;
                        position: absolute;
                        color: var(--color-neutral-13) !important;
                    }
                }

                &_group {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &_item {
                        width: inherit;
                        align-self: baseline;

                        ul {
                            padding-left: var(--space-md);

                            li {
                                font-size: var(--font-size-sm);
                            }
                        }

                        &_datepicker {
                            width: 100%;
                        }
                    }
                }

                &_itemButton {
                    display: flex;
                    align-items: center;
                    justify-content: end;

                    button {
                        width: 100%;
                    }
                }

                @media screen and (max-width: 575px) {

                    &_group {
                        flex-direction: column;
                    }

                    &_itemButton {
                        display: block;
                    }
                }
            }
        }
    }
}