.currentBlog_section {
    &_blog {
        margin: var(--space-xl) auto;
    }

    &_sliderContent {

        &_title {
            font-size: var(--font-size-xl);
        }

        &_arrowWrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 44px;
            height: 44px;
            border-radius: 50%;
        }

        &_carousel {}
    }
}